@use 'src/assets/vars';

.sidebar {
  display: flex;
  background-color: vars.$sidebar-background-color;
  height: 94.7vh;

  &__lists {
    box-shadow: vars.$navbar-sidebar-box-shadow;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    width: vars.$sidebar-width;
  }

  &__half {
    height: 50%;
    max-height: 100%;
  }
}
