// values
$animation-duration: 500ms;
$button-border-radius: 4px;
$header-height: 50px;
$sidebar-width: 217px;
$navbar-icon-size: 24px;

// colors
$primary-main-color: rgb(105, 65, 198);
$header-text-color: #fff;
$header-items-background: rgba(255, 255, 255, 0.08);
$sidebar-lists-input-background: rgb(234, 236, 240);
$sidebar-lists-input-placeholder: rgb(102, 112, 133);
$sidebar-background-color: rgb(249, 250, 251);
$navbar-sidebar-box-shadow: 0 0 4px rgb(0 0 0 / 25%);
$navbar-background-color: rgb(249, 250, 251);
$navbar-last-icon-color: rgb(16, 24, 40);
$active-background: rgba(122, 90, 248, 0.14);
$tooltip-color: rgb(152, 162, 179);
