@import '@progress/kendo-theme-default/dist/default-purple.scss';
@import 'antd/dist/antd.variable.min.css';
@import 'assets/overrides';
@import 'assets/vars';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
